<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>First App</title>
        <meta name="description" content="">
        <!--<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'/>-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/node_modules/dropzone/dist/dropzone.css"/>
        <link rel="stylesheet" type="text/css" href="/node_modules/dropzone/dist/basic.css"/>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/freelancer.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    </head>
    <body>
    <!-- Navigation -->
    <nav-bar></nav-bar>
    <div class="wrapper">
        <div class="main-div" ui-view></div>
    </div>
        <script type="text/javascript" src="/libs/facebook.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/node_modules/angular-spinners/dist/angular-spinners.js"></script>
        <script type="text/javascript" src="/libs/angular-ui-router.min.js"></script>
        <!--<script type="text/javascript" src="/dist/scripts.js"></script>-->
        <script type="text/javascript" src="/scripts/controllers/account/account.js"></script>
        <script type="text/javascript" src="/scripts/controllers/common/_common.js"></script>
        <script type="text/javascript" src="/scripts/controllers/common/loginController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/common/loginService.js"></script>
        <script type="text/javascript" src="/scripts/controllers/common/navbar.js"></script>
        <script type="text/javascript" src="/scripts/controllers/home/_home.js"></script>
        <script type="text/javascript" src="/scripts/controllers/home/home.js"></script>
        <script type="text/javascript" src="/scripts/controllers/search/search.js"></script>
        <script type="text/javascript" src="/node_modules/underscore/underscore.js"></script>
        <script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
        <script type="text/javascript" src="/node_modules/dropzone/dist/dropzone.js"></script>
        <script type="text/javascript" src="/node_modules/angular-file-upload/dist/angular-file-upload.js"></script>
    </body>
</html>